 .counter h1{
    color: white;
    font-size: 128px;
 } 

 .counter.green{
   color: green;
 }
 .counter.yellow{
   color: yellow;
 }
 .counter.red{
   color: red;
 }

 .transparent{
  color: #243143;
 }