.traffic-light {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: #1e2836;
  width: 100px;
  height: 170px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: absolute;
}

.west {
  inset: 220px 0 0 520px;
  rotate: 180deg;
}

.north {
  inset: 170px 0 0 850px;
  rotate: -90deg;
}

.east {
  inset: 410px 0 0 870px;
  rotate: 180deg;
}

.south {
  inset: 470px 0 0 620px;
  rotate: 90deg;
}

.lights {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.light {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #485262;
}

.red.active {
  background: #fe4e43;
}

.yellow.active {
  background: #ffba0a;
}

.green.active {
  background: #acd94c;
}
